<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form method="POST" action="/login">
          <h1><img src="/logo.png" /></h1>
          <p>
            Welcome to mailbuddy. Please enter your credentials.
          </p>
          <input type='hidden' name='_csrf' value='<%= _csrf %>'>
          <% if (flash.err) {%>
          <div class="alert alert-danger" role="alert">An error occoured, please try again.</div>
          <% } %>
          <div class="form-group">
            <input class="form-control" type="text" name="email" value="<%= input.email || "" %>" placeholder="E-mail">
          </div>
          <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
          </div>
          <div>
            <button type="submit" class="btn btn-default submit">Log in</button>
            <a href="/reset" class="reset_pass">Forgot your password?</a>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
