<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form method="POST" action="/password">
          <h1><img src="/logo.png" /></h1>
          <p>
            Please enter your new password.
          </p>
          <input type='hidden' name='_csrf' value='<%= _csrf %>'>
          <input type='hidden' name='reset_password_token' value='<%= resetPasswordToken %>'>
          <% if (flash.err) {%>
          <div class="alert alert-danger" role="alert">An error occoured, please try again.</div>
          <% } %>
          <div class="form-group<% if (flash.err && flash.err.invalidAttributes && flash.err.invalidAttributes.newPassword) { %> has-error<% } %>">
            <label class="control-label" for="new_password">New Password*</label>
            <input class="form-control" type="password" name="new_password">
            <% if (flash.err && flash.err.Errors && flash.err.Errors.newPassword) { %>
            <span class="help-block"><%= flash.err.Errors.newPassword[0].message %></span>
            <% } %>
          </div>
          <div>
            <button type="submit" class="btn btn-default submit">Set password</button>
            <a href="/login" class="reset_pass">Already have an account?</a>
          </div>
        </form>
      </section>
    </div>
  </div>
</div>
