<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Applications</h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="input-group pull-right">
          <% if (current_user.isAdmin) { %>
            <a href="/apps/new" class="btn btn-primary">Create new app</a>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="row">
            <% if (apps.length > 0) { %>
              <% apps.forEach(function (app) { %>
                <div class="col-md-4 col-xs-12" data-app_id="<%- app.id %>">
                  <div class="x_panel fixed_height_200">
                    <div class="x_title">
                      <h2 class="app-name">
                        <%- app.name %>
                      </h2>

                      <ul class="nav navbar-right panel_toolbox">
                        <li class="pull-right">
                          <a href="/apps/<%= app.id %>/emails">
                            <i class="fa fa-envelope" data-toggle="tooltip" data-placement="top" data-original-title="Show emails"></i>
                          </a>
                        </li>
                        <li class="pull-right">
                          <a href="/apps/<%= app.id %>" role="button" aria-expanded="false">
                            <i class="fa fa-wrench" data-toggle="tooltip" data-placement="top" data-original-title="Edit application settings"></i>
                          </a>
                        </li>
                        <li class="pull-right">
                          <a href="/apps/<%= app.id %>" role="button" aria-expanded="false">
                            <% if (app.performDeliveries) { %>
                              <i class="fa fa-check" data-toggle="tooltip" data-placement="top" data-original-title="Application is in live mode: emails are forwarded to the recipients."></i>
                            <% } else { %>
                              <i class="fa fa-warning" data-toggle="tooltip" data-placement="top" data-original-title="Application is in development mode: no real emails are sent"></i>
                            <% } %>
                          </a>
                        </li>
                      </ul>
                      <div class="clearfix"></div>
                    </div>
                    <div class="x_content text-center">
                      <small class="app-description"><%= app.description %></small>
                      <div class="divider"></div>
                      <a href="/apps/<%= app.id %>/emails">
                        <h3 class="name_title emails-count"><%- app.emailsCount %></h3>
                        <p>Received emails</p>
                      </a>
                    </div>
                  </div>
                </div>
              <% }) %>
            <% } else { %>
              <div class="col-xs-12">
                <p>There are no apps yet.</p>
                <% if (current_user.isAdmin) { %>
                <a href="/apps/new" class="btn btn-primary btn-large">Create your first app</a>
                <% } else { %>
                <p>Request an administrator to invite you to an app.</p>
                <% } %>
              </div>
            <% } %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<% block('localScripts', '<script type="text/javascript">' +
  '// an app gets updated\n' +
  'io.socket.get(\'/apps/subscribe\', function(data, jwr) {\n' +
  '  io.socket.on(\'message\', function(app) {\n' +
  '    var $panel = $(\'[data-app_id="\'+app.id+\'"]\');\n' +
  '    $panel.find(\'.emails-count\').html(app.emailsCount);\n' +
  '    $panel.find(\'.app-name\').html(app.name);\n' +
  '  });\n' +
  '});</script>') %>
