<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3>Create a new application</h3>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <form class="form form-horizontal form-label-left" method="post" action="/apps">
            <input type='hidden' name='_csrf' value='<%= _csrf %>'>

            <div class="form-group<% if (flash.err && flash.err.invalidAttributes && flash.err.invalidAttributes.name) { %> has-error<% } %>">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="name">Name*</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" class="form-control" id="name" name="name" placeholder="App name" value="<%= input.name || "" %>" />
                <% if (flash.err && flash.err.Errors && flash.err.Errors.name) { %>
                <span class="help-block"><%= flash.err.Errors.name[0].message %></span>
                <% } %>
              </div>
            </div>

            <div class="form-group<% if (flash.err && flash.err.invalidAttributes&& flash.err.invalidAttributes.description) { %> has-error<% } %>">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"  for="description">Description</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <textarea class="form-control" id="description" name="description" placeholder="Short description for the app"><%- input.description || "" %></textarea>
                <% if (flash.err && flash.err.Errors && flash.err.Errors.description) { %>
                <span class="help-block"><%= flash.err.Errors.description[0].message %></span>
                <% } %>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12"  for="name">Delivery mode*</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <select  class="form-control" name="perform_deliveries">
                  <option value="false">Development - Do not send any real email automatically</option>
                  <option value="true">Live - Emails are automatically sent to the recipients mailbox</option>
                </select>
              </div>
            </div>

            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a href="/" class="btn btn-primary">Cancel</a>
                <button type="submit" class="btn btn-success">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
