<div class="">
  <div class="page-title">
    <div class="title_left">
      <h3><%- app.name %></h3>
    </div>

    <div class="title_right">
      <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
        <div class="btn-group pull-right">
          <a href="/apps/<%= app.id %>/emails" class="btn btn-primary btn-large"><i class="fa fa-envelope"></i> View e-mails</a>
          <% if (current_user.isAdmin && !app.isSystem) { %>
            <a href="/apps/<%= app.id %>/edit" class="btn btn-primary btn-large"><i class="fa fa-pencil"></i> Edit</a>
            <a href="/apps/<%- app.id %>/delete" class="btn btn-danger btn-large" data-confirm="Are you sure?"><i class="fa fa-trash"></i> Delete</a>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="row">
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h2>App settings</h2>
          <table class="table-condensed">
            <% if (!app.isSystem) { %>
              <tr>
                <th>SMTP host</th>
                <td><%- process.env['MAIL_HOST'] %></td>
              </tr>
              <tr>
                <th>SMTP port</th>
                <td><%- process.env['MAIL_PORT'] %></td>
              </tr>
              <tr>
                <th>SMTP username</th>
                <td><%- app.apiKey %></td>
              </tr>
              <tr>
                <% if (apiSecret) { %>
                  <th>SMTP password</th>
                  <td>
                    <%- apiSecret %>
                    <br>
                    <small>Warning: this is the first and last time that we will show this secret, ensure to write it in a safe place.</small>
                  </td>
                <% } else { %>
                  <% if (current_user.isAdmin) { %>
                    <th>SMTP password</th>
                    <td>
                      <a href="/apps/<%= app.id %>/reset" class="btn btn-xs btn-danger" data-confirm="Are you sure? The old secret will be void and a new one will be created.">Reset API secret</a>
                    </td>
                  <% } %>
                <% } %>
              </tr>
            <% } %>
            <tr>
              <th>Description</th>
              <td><%= app.description %></td>
            </tr>
            <tr>
              <th>Delivery mode</th>
              <td><%- app.performDeliveries ? 'Live' : 'Development' %></td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <h2>Client code examples</h2>
          <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a href="#node" data-toggle="tab">Node.JS</a></li>
            <li role="presentation"><a href="#php" data-toggle="tab">PHP</a></li>
          </ul>
          <div class="tab-content">
            <div id="node" class="tab-pane fade in active">
              <pre class="sh_javascript">
const nodemailer = require('nodemailer');

// create reusable transporter object using the default SMTP transport
const transporter = nodemailer.createTransport({
  host: '[your mailbuddy IP address]',
  port: '2525',
  auth: {
    user: "[your mailbuddy app's username]",
    pass: "[your mailbuddy app's password]",
  }
});

// setup email data with unicode symbols
const mailOptions = {
  from: '"Fred Foo 👻" <foo@blurdybloop.com>', // sender address
  to: 'to@example.com', // list of receivers
  subject: 'Hello ✔', // Subject line
  text: 'this is the text version', // plain text body
  html: '<b>This is the HTML version</b>', // html body
  cc: 'cc@example.com',
  bcc: 'bcc@example.com',
  attachments: [
     {
      path: __dirname + '/attachment.png'
     }
  ]
};

// send mail with defined transport object
transporter.sendMail(mailOptions, (error, info) => {
  if (error) {
    return console.log(error);
  }
  console.log('Message %s sent: %s', info.messageId, info.response);
});

              </pre>
            </div>
            <div id="php" class="tab-pane fade">
              <pre class="sh_php">
// composer require swiftmailer/swiftmailer

require_once __DIR__ . '/vendor/autoload.php';

// Create the Transport
$transport = (new Swift_SmtpTransport('[your mailbuddy ip address]', 2525, 'tls'))
  ->setUsername("[your mailbuddy app's username]")
  ->setPassword("[your mailbuddy app's password]")
  ->setStreamOptions([
     'ssl' => ['allow_self_signed' => true, 'verify_peer' => false]
  ]);
;

// Create the Mailer using your created Transport
$mailer = new Swift_Mailer($transport);

// Create a message
$message = (new Swift_Message('Wonderful Subject'))
  ->setFrom(['john@doe.com' => 'John Doe'])
  ->setTo(['receiver@domain.org', 'other@domain.org' => 'A name'])
  ->setBody('Here is the message itself')
;

// Send the message
$result = $mailer->send($message);

              </pre>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
