<div>
  <a class="hiddenanchor" id="signup"></a>
  <a class="hiddenanchor" id="signin"></a>

  <div class="login_wrapper">
    <div class="animate form login_form">
      <section class="login_content">
        <form method="POST" action="/wizard">
          <h1><img src="/logo.png" /></h1>
          <p>
            Welcome to mailbuddy. Please enter an e-mail and password for your admin user.
            You will be able to create other users afterwards.
          </p>
          <input type='hidden' name='_csrf' value='<%= _csrf %>'>
          <% if (flash.err) {%>
          <div class="alert alert-danger" role="alert">An error is preventing the creation of this user account.</div>
          <% } %>
          <div class="form-group<% if (flash.err && flash.err.invalidAttributes.email) { %> has-error<% } %>">
            <% if (flash.err && flash.err.Errors && flash.err.Errors.email) { %>
              <span class="help-block"><%= flash.err.Errors.email[0].message %></span>
            <% } %>
            <input class="form-control" type="text" name="email" value="<%= input.email || "" %>" placeholder="New admin user's e-mail">
          </div>
          <div class="form-group<% if (flash.err && flash.err.invalidAttributes.password) { %> has-error<% } %>">
            <% if (flash.err && flash.err.Errors && flash.err.Errors.password) { %>
              <span class="help-block"><%= flash.err.Errors.password[0].message %></span>
            <% } %>
            <input class="form-control" type="password" name="password" placeholder="New admin user's password">
          </div>
          <button type="submit" class="btn btn-default submit">Create admin user</button>
        </form>
      </section>
    </div>
  </div>
</div>

