<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Mail Buddy' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/custom.min.css">
    <link rel="stylesheet" href="/styles/switchery.min.css">
    <link rel="stylesheet" href="/styles/pnotify.custom.min.css">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/sh_style.css">
  </head>

  <body class="nav-md menu_fixed">
    <div class="container body">
      <div class="main_container">
        <% if (!process.env['RELAY_HOST'] || !process.env['RELAY_PORT']) { %>
        <div class="error_headbar text-center">
          <i class="fa fa-exclamation-triangle"></i>
          <b>You have not specified an MTA to perform e-mail deliveries. Mailbuddy is unable to send any real e-mail.</b>
        </div>
        <% } %>
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="/" class="site_title text-center">
                <img src="/logo.png" />
              </a>
            </div>

            <div class="clearfix"></div>

            <br />

            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="<%= current_user.avatar_url %>" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <h2><%= current_user.email %></h2>
                <br>
                <div class="row">
                  <div class="col-xs-6 text-center">
                    <a href="/users/password" data-toggle="tooltip" data-placement="top" data-original-title="Change your password">
                      <i class="fa fa-key"></i>
                    </a>
                  </div>
                  <div class="col-xs-6 text-center">
                    <a href="/logout" data-toggle="tooltip" data-placement="top" data-original-title="Log out">
                      <i class="fa fa-sign-out"></i>
                    </a>
                  </div>
                </div>
              </div>
            </div>

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <% if (current_user) { %>
                <ul class="nav side-menu">
                  <li class="<% if (req.url === "/" || req.url.startsWith("/apps")) { %>active<% } %>">
                    <a href="/">Apps</a>
                    <ul class="nav child_menu">
                      <% userApps.forEach((app) => { %>
                        <li class="<% if (req.url.startsWith("/apps/"+ app.id)) { %>current-page<% } %>">
                          <a href="/apps/<%= app.id %>/emails"><%= app.name %> (<%= app.emailsCount %>)</a>
                        </li>
                      <% }); %>
                    </ul>
                  </li>
                  <% if (current_user.isAdmin) { %>
                  <li class="<% if (req.url.startsWith("/admin")) { %>active<% } %>">
                    <a href="/admin/users">Admin</a>
                    <ul class="nav child_menu">
                      <li class="<% if (req.url.startsWith("/admin/users")) { %>current-page<% } %>"><a href="/admin/users">Users</a></li>
                    </ul>
                  </li>
                  <% } %>
                </ul>
                <% } %>
              </div>
            </div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- page content -->
        <div class="right_col" role="main">
          <%- body %>
        </div>
        <!-- /page content -->
      </div>
    </div>

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/0-jquery.js"></script>
    <script src="/js/dependencies/bootbox.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/lodash.core.min.js"></script>
    <script src="/js/dependencies/moment.min.js"></script>
    <script src="/js/dependencies/pnotify.custom.min.js"></script>
    <script src="/js/dependencies/switchery.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/sh_javascript.min.js"></script>
    <script src="/js/sh_main.min.js"></script>
    <script src="/js/sh_php.min.js"></script>
    <!--SCRIPTS END-->
    <%- blocks.localScripts %>

    <script type="text/javascript">
    <% if (flash.alert) { %>
      new PNotify({
        text: '<%- flash.alert.message %>',
        type: '<%- flash.alert.type %>'
      });
    <% } %>
    </script>
  </body>
</html>
