<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'Mail Buddy' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <link rel="stylesheet" href="/styles/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/font-awesome.min.css">
    <link rel="stylesheet" href="/styles/importer.css">
    <link rel="stylesheet" href="/styles/custom.min.css">
    <link rel="stylesheet" href="/styles/style.css">
  </head>

  <body class="login">
    <%- body %>

    <!--TEMPLATES-->
    <script type="text/javascript" src="/jst.js"></script>
    <!--TEMPLATES END-->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/0-jquery.js"></script>
    <script src="/js/dependencies/bootbox.min.js"></script>
    <script src="/js/dependencies/bootstrap.min.js"></script>
    <script src="/js/dependencies/lodash.core.min.js"></script>
    <script src="/js/dependencies/moment.min.js"></script>
    <script src="/js/dependencies/pnotify.custom.min.js"></script>
    <script src="/js/dependencies/switchery.min.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/sh_javascript.min.js"></script>
    <script src="/js/sh_main.min.js"></script>
    <script src="/js/sh_php.min.js"></script>
    <!--SCRIPTS END-->
    <%- blocks.localScripts %>
  </body>
</html>
