<div>
  <div class="row emails_list">

    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="page-title">
            <div class="title_left">
              <h3><%- currentApp.name %></h3>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <a href="/apps/<%= currentApp.id %>" class="btn btn-primary btn-large pull-right"><i class="fa fa-eye"></i> View app configuration</a>
              </div>
            </div>
          </div>

          <hr>

          <% if (emails.length > 0) { %>
            <table class="table table-condensed" id="messages">
              <thead>
              <tr>
                <th>From</th>
                <th>To</th>
                <th>Subject</th>
                <th>Date</th>
                <th>Status</th>
                <th></th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <% emails.forEach(function(email) { %>
              <%- include _email.ejs %>
              <% }) %>
              </tbody>
            </table>

            <% if (page > 1) { %>
              <a href="?page=<%= parseInt(page) - 1 %>"><i class="fa fa-backward"></i> Newer</a>
            <% } %>

            <% if (page < totPages) { %>
              <a href="?page=<%= parseInt(page) + 1 %>" class="pull-right"><i class="fa fa-forward"></i> Older</a>
            <% } %>
          <% } else { %>
            <p>
              There are no e-mails in this App yet.
            </p>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<% if (page === 1) { %>
  <% block('localScripts', '<script type="text/javascript">' +
    '// an email gets updated\n' +
    'io.socket.get(\'/emails/'+currentApp.id+'/subscribe\', function(data, jwr) {\n' +
    '  io.socket.on(\'message\', function(email) {\n' +
    '    var selector = \'table#messages tr[data-email_id="\'+email.id+\'"]\';\n' +
    '    if ($(selector).length > 0) {\n' +
    '      $(selector).replaceWith(window.JST[\'assets/templates/emails/_email.ejs\']({email: email}));\n'+
    '    } else { \n' +
    '      $(\'table#messages\').prepend(window.JST[\'assets/templates/emails/_email.ejs\']({email: email}));\n'+
    //'      var old = $(\'table#messages tbody tr.clickable\').not(\'.info\')[10];if (old) old.remove();\n' +
    '    }\n' +
    '  });\n' +
    '});</script>') %>
<% } %>
