<div class="">

  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="row">
            <div class="col-xs-12">
              <p>
                cc: <b><%- email.cc %></b>&nbsp;&nbsp;&nbsp;&nbsp;
                bcc: <b><%- email.bcc %></b>
              </p>
            </div>

            <div class="col-xs-12 min-height-200">
              <% if (email.html == "false") { %>
                <%- email.text %>
              <% } else { %>
                <%- email.html %>
              <% } %>
            </div>
            <% if (email.attachments.length > 0) { %>
              <div class="col-xs-12">
                <hr>
              </div>
              <% email.attachments.forEach((attachment) => { %>
              <div class="col-xs-12">
                <a href="/attachments/<%- attachment.id %>/<%- attachment.filename %>" target="_new">
                  <i class="fa fa-file-o"></i> <%- attachment.filename %> (<%- prettyBytes(attachment.size) %>)
                </a>
              </div>
              <% }); %>
            <% }  %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
