html {
  height:100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height:100%;
}

.container.body, .main_container {
  height: 100%;
}

.right_col {
  height: 100%;
  overflow-y: auto;
}

.clickable {
  cursor: pointer;
}

.profile_info h2 {
  overflow: hidden;
  text-overflow: ellipsis;
}

.tab-content {
    padding: 20px 0;
}

li.active .nav.child_menu {
  display:block;
}

.min-height-200 { min-height: 200px; }

.panel_toolbox li > i {
  padding: 7px;
  color: #C5C7CB;
  font-size: 14px;
}

.table-condensed>tbody>tr.email_show_container>td { text-align: left; }

.app-description {
  display: block;
  display: -webkit-box;
  height: 30px;
  line-height: 15px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.error_headbar {
    width:100%;
    background: #ff5d61;
    z-index:1;
    color:white;
    padding: 10px;
}
