<p>Somebody requested to recover the password on your MailBuddy account.</p>

<p>Please visit this link to change your password: <a href="<%= url %>"><%= url %></a>.</p>

<p>Your faithful MailBuddy</p>
