<div class="">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="page-title">
            <div class="title_left">
              <h3>Edit user <%- user.email %></h3>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              </div>
            </div>
          </div>

          <hr>

          <form class="form form-horizontal form-label-left" action="/admin/users/<%- user.id %>" method="post">
            <input type='hidden' name='_csrf' value='<%= _csrf %>'>
            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Enabled apps</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <% availableApps.forEach((app) => { %>
                <div class="">
                  <label>
                    <input type="checkbox" class="js-switch" name="apps" value="<%- app.id %>" <% if (app.active) {%>checked="checked"<% } %> style="display:none">
                    <%- app.name %>
                  </label>
                </div>
                <% }) %>
              </div>
            </div>

            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a href="/admin/users" class="btn btn-primary">Cancel</a>
                <button type="submit" class="btn btn-success">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
