<div class="">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="page-title">
            <div class="title_left">
              <h3>Users</h3>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                <a href="/admin/users/new" class="btn btn-primary btn-large pull-right">Create new user</a>
              </div>
            </div>
          </div>

          <hr>

          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>E-mail</th>
              <th>Status</th>
              <th>Admin</th>
              <th><!-- --></th>
            </tr>
            </thead>
            <tbody>
            <% users.forEach(function(user) { %>
            <tr>
              <td><%- user.id %></td>
              <td><%- user.email %></td>
              <td>
                <% if(user.password === null) { %>
                  <span class="label label-default">Pending Invitation</span>
                <% } else { %>
                  <span class="label label-success">Active</span>
                <% } %>
              <td><i class="fa fa-<% if (user.isAdmin) { %>check<% } %>"></i></td>
              <td>
                <div class="btn-group" role="group" aria-label="...">
                  <% if(user.password === null) { %>
                    <a href="/admin/users/<%- user.id %>/invite" class="btn btn-primary btn-xs" data-confirm="Are you sure?"><i class="fa fa-envelope"></i> Resend invitation</a>
                  <% } %>
                  <a href="/admin/users/<%- user.id %>/edit" class="btn btn-primary btn-xs"><i class="fa fa-pencil"></i> Edit</a>
                  <% if (user.id !== current_user.id) { %>
                    <% if (user.isAdmin) { %>
                      <a href="/admin/users/<%- user.id %>/admin" class="btn btn-primary btn-xs"><i class="fa fa-level-down"></i> Make normal user</a>
                    <% } else { %>
                      <a href="/admin/users/<%- user.id %>/admin" class="btn btn-primary btn-xs"><i class="fa fa-level-up"></i> Make admin</a>
                    <% } %>
                    <a href="/admin/users/<%- user.id %>/delete" class="btn btn-danger btn-xs" data-confirm="Are you sure?"><i class="fa fa-trash"></i> Delete</a>
                  <% } %>
                </div>
              </td>
            </tr>
            <% }); %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
