<div class="">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="page-title">
            <div class="title_left">
              <h3>New user</h3>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              </div>
            </div>
          </div>

          <hr>

          <form class="form form-horizontal form-label-left" method="POST" action="/users">
            <input type='hidden' name='_csrf' value='<%= _csrf %>'>
            <div class="form-group<% if (flash.err && flash.err.invalidAttributes && flash.err.invalidAttributes.email) { %> has-error<% } %>">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="email">E-mail*</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input type="text" class="form-control" id="email" name="email" placeholder="User e-mail" value="<%= input.email || "" %>" />
                <% if (flash.err && flash.err.Errors && flash.err.Errors.email) { %>
                <span class="help-block"><%= flash.err.Errors.email[0].message %></span>
                <% } %>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Admin</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <div class="">
                  <label>
                    <input type="checkbox" class="js-switch" name="is_admin" value="true" style="display:none">
                  </label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="control-label col-md-3 col-sm-3 col-xs-12">Enabled apps</label>
              <div class="col-md-9 col-sm-9 col-xs-12">
                <% availableApps.forEach((app) => { %>
                <div class="">
                  <label>
                    <input type="checkbox" class="js-switch" name="apps" value="<%- app.id %>" <% if (app.active) {%>checked="checked"<% } %> style="display:none">
                    <%- app.name %>
                  </label>
                </div>
                <% }) %>
              </div>
            </div>

            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a href="/admin/users" class="btn btn-primary">Cancel</a>
                <button type="submit" class="btn btn-success">Create</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
