<div class="">
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
      <div class="x_panel">
        <div class="x_content">
          <div class="page-title">
            <div class="title_left">
              <h3>Change password</h3>
            </div>

            <div class="title_right">
              <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
              </div>
            </div>
          </div>

          <hr>

          <form class="form form-horizontal form-label-left" method="POST" action="/users/password">
            <input type='hidden' name='_csrf' value='<%= _csrf %>'>
            <input type='hidden' name='email' value='<%= current_user.email %>'>
            <div class="form-group<% if (flash.err && flash.err.invalidAttributes && flash.err.invalidAttributes.password) { %> has-error<% } %>">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="password">Current Password*</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input class="form-control" id="password" type="password" name="password">
                <% if (flash.err && flash.err.Errors && flash.err.Errors.password) { %>
                <span class="help-block"><%= flash.err.Errors.password[0].message %></span>
                <% } %>
              </div>
            </div>

            <div class="form-group<% if (flash.err && flash.err.invalidAttributes && flash.err.invalidAttributes.newPassword) { %> has-error<% } %>">
              <label class="control-label col-md-3 col-sm-3 col-xs-12" for="new_password">New Password*</label>
              <div class="col-md-6 col-sm-6 col-xs-12">
                <input class="form-control" type="password" name="new_password">
                <% if (flash.err && flash.err.Errors && flash.err.Errors.newPassword) { %>
                <span class="help-block"><%= flash.err.Errors.newPassword[0].message %></span>
                <% } %>
              </div>
            </div>

            <div class="ln_solid"></div>
            <div class="form-group">
              <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                <a href="/" class="btn btn-primary">Cancel</a>
                <button type="submit" class="btn btn-success">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
