<tr data-email_id="<%- email.id %>" class="clickable">
  <td><%= email.from %></td>
  <td><%- email.to %></td>
  <td><%- email.subject %></td>
  <td><%- moment(email.sentAt).fromNow() %></td>
  <td>
    Sent: <%- email.sentCount %> - Errors: <%- email.errorsCount %>
  </td>
  <td>
    <% if (email.attachmentsCount > 0) { %>
    <i class="fa fa-paperclip"></i>
    <% } %>
  </td>
  <td>
    <div class="btn-group" role="group" aria-label="...">
      <a class="btn btn-danger btn-xs" href="/emails/<%= email.id %>/delete" data-confirm="Are you sure?"><i class="fa fa-trash"></i> delete</a>
    </div>
</tr>
<tr class="email_show_container" id="email_show_container_<%- email.id %>" style="display:none">
  <td colspan="7" id="email_show_<%- email.id %>">

  </td>
</tr>
